body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background: radial-gradient(circle, #0a0a2a, #000);
    background-size: cover;
    background-position: center;
    color: white;
}

.hidden {
    display: none;
}

.title {
    font-size: 42px;
    margin-top: 40px;
}

.subtitle {
    font-size: 32px;
    margin: 20px 0;
}

.menu-btn {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    font-size: 22px;
    margin: 15px auto;
    display: block;
    border: none;
    border-radius: 15px;
    background: #222;
    color: white;
}

.menu-btn:hover {
    background: #444;
}

.back-btn {
    margin-top: 20px;
    padding: 15px 25px;
    font-size: 20px;
    border-radius: 12px;
    border: none;
}

#board {
    width: 90vw;
    max-width: 420px;
    height: 90vw;
    max-height: 420px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px auto;
}

.cell {
    background: rgba(0,0,0,0.6);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12vw;
    max-font-size: 110px;
    cursor: pointer;
    user-select: none;
    color: white;
    transition: 0.2s;
}

.cell:hover {
    background: rgba(50,50,50,0.7);
}

label {
    font-size: 20px;
    display: block;
    margin-top: 15px;
}

input[type=color], input[type=file] {
    margin: 10px;
    transform: scale(1.2);
}
