body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background: radial-gradient(circle, #0a0a2a, #000);
    background-size: cover;
    background-position: center;
    color: white;
}

.screen {
    padding-top: 20px;
}

.hidden {
    display: none;
}

.title {
    font-size: 45px;
    margin-bottom: 40px;
}

.big-btn {
    width: 80%;
    max-width: 350px;
    padding: 20px;
    font-size: 24px;
    margin: 15px auto;
    display: block;
    border-radius: 15px;
    border: none;
    background: #222;
    color: white;
    transition: 0.2s;
}

.big-btn:hover {
    background: #444;
}

.back-btn {
    padding: 15px 25px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 12px;
    border: none;
}

.color-picker {
    width: 150px;
    height: 70px;
    margin: 10px;
}

#board {
    width: 90vw;
    max-width: 400px;
    height: 90vw;
    max-height: 400px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;

    margin: 20px auto;
}

.cell {
    background: rgba(0,0,0,0.6);
    border-radius: 20px;
    font-size: 12vw;
    max-font-size: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    user-select: none;
    transition: 0.2s;
}

.cell:hover {
    background: rgba(40,40,40,0.7);
}
